body{
    background-color: rgb(25, 201, 201);

}
#Score{
    margin:30px;
    font-size: 20px;

}
#Time{
    float:right;
    margin:30px;
    font-size: 20px;

}
#SketchID{
    color:rgb(250, 0, 0);
    font-weight:bold;
    font-size:20px;

}
canvas{
    border-radius:10px;
}